services:
  # Nuxt Frontend
  web:
    container_name: community-web
    build:
      context: .
      dockerfile: Dockerfile.local
    env_file:
      - .env
    ports:
      - '3000:3000'
    volumes:
      - ./:/app/
      - /app/node_modules # Ensures node_modules from the image build is used
    command: npm run dev

  # Nest Backend
  api:
    container_name: community-api
    image: josaorg/community-api:latest
    env_file: .env
    ports:
      - '5000:5000'
    depends_on:
      - db
      - redis
  redis:
    image: 'bitnami/redis:latest'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 6379:6379
  db:
    container_name: community-db
    image: postgres:14.3
    ports:
      - '6543:5432'
    env_file: .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
