/*****/

.card {
  @apply flex flex-col border rounded bg-white p-6 border-grey90;
}

.button {
  @apply border border-solid rounded-md uppercase py-2 px-4 inline-block;
  transition        : background-color, color, border-color, 0.25s linear;
  -webkit-transition: background-color, color, border-color, 0.25s linear;
}

.button-sharp {
  @apply border border-solid py-3 px-10 text-center rounded-none normal-case;
  transition        : background-color, color, border-color, 0.25s linear;
  -webkit-transition: background-color, color, border-color, 0.25s linear;
}

.button-blue {
  @apply border-josa-blue text-josa-blue;
}

.button-blue:hover {
  @apply bg-josa-blue text-white !important;
}

.button-grey {
  @apply border-josa-warm-grey-dark text-josa-warm-grey-dark;
}

.button-grey:hover {
  @apply bg-josa-warm-grey-dark text-josa-warm-grey !important;
}

.button-blue-full {
  @apply border-josa-blue bg-josa-blue;
  color: #fff !important;
}

.button-blue-full:hover {
  background-color: #2f80a2;
  border-color    : #2f80a2;
}

.button-dark-blue-full {
  @apply border-josa-blue-dark bg-josa-blue-dark;
  color: #fff !important;
}

.button-dark-blue-full:hover {
  @apply border-josa-blue-veryDark bg-josa-blue-veryDark;
}

.button-light {
  @apply border-josa-warm-grey text-josa-warm-grey;
}

.button-light:hover {
  @apply bg-josa-warm-grey text-josa-black !important;
}

.button-flat {
  @apply rounded-none border-none normal-case py-3 px-6 text-josa-black font-semibold;
}

.button-flat:hover {
  @apply opacity-75;
}

.content-wrapper a {
  @apply text-josa-blue;
}

a {
  transition        : color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  cursor            : pointer;
}

a:hover,
a.active {
  @apply text-josa-blue;
}

.nav-link {
  @apply p-2 uppercase block text-josa-warm-grey-light;
}

@screen lg {
  .nav-link {
    @apply inline-block px-4;
  }
}

/* Lists */
ol {
  list-style: decimal;
}

[lang='ar'] ol {
  list-style: arabic-indic;
}

ul {
  list-style: disc;
}

ol>li,
ul>li {
  @apply ml-4;
}
