/* GLOBAL css */
/*
DOC:

The following standard will be applied to containers and content container

flex gaps between items: mobile: 5,desktop : 10

padding 40 px btween eneties top bottom, between container items 20px

*/
body {
  @apply text-base font-normal;
  @apply text-josa-black-text;
}

/* Titles are classes used to descirbe titles of entities  */
.title {
  @apply font-medium;
}
/* Dividers */
.divider-slashes {
  @apply bg-divider-slashes;
  @apply bg-no-repeat bg-left bg-cover;
}
.divider-dotted {
  @apply border-dotted border-b border-gray-500;
}

h1 {
  @apply text-5xl;
  @apply text-white;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply lg:text-xl;
}

.rounded {
}

/*****/

.button {
  @apply border border-solid rounded-md uppercase py-2 px-4 inline-block;
  transition: background-color, color, border-color, 0.25s linear;
  -webkit-transition: background-color, color, border-color, 0.25s linear;
}

.search-button {
  @apply rounded-none !important;
  @apply button-blue-full h-full;
  padding: 0.65rem 1rem;
  background-color: #0c97ac;
}

.button-blue {
  @apply border-josa-blue text-josa-blue;
}

.button-blue:hover {
  @apply bg-josa-blue text-white !important;
}

.button-blue-full {
  @apply border-josa-blue bg-josa-blue;
  color: #fff !important;
}

.button-blue-full:hover {
  background-color: #2f80a2;
  border-color: #2f80a2;
}

.button-flat {
  @apply rounded-none border-none normal-case py-3 px-6 text-josa-black font-semibold;
}

.button-flat:hover {
  @apply opacity-75;
}

a {
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  cursor: pointer;
}

a:hover,
a.active {
  @apply text-josa-blue;
}

.nav-link {
  @apply p-2 uppercase block text-josa-warm-grey-light;
}

@screen lg {
  .nav-link {
    @apply inline-block px-4;
  }
}

/* Lists */
ol {
  list-style: decimal;
}

[lang='ar'] ol {
  list-style: arabic-indic;
}

ul {
  list-style: disc;
}

ol > li,
ul > li {
  @apply ml-4;
}

.title {
  font-weight: 500;
}