/* Only load essential font weights to reduce CDN rate limiting */
@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Sans'),
    url(../fonts/IBMPlexSansArabic-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Sans'),
    url(../fonts/IBMPlexSansArabic-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Sans'),
    url(../fonts/IBMPlexSansArabic-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Sans'),
    url(../fonts/IBMPlexSansArabic-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Sans'),
    url(../fonts/IBMPlexSansArabic-Bold.woff2) format('woff2');
}

/* Only load essential IBM Mono weights */
@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Mono'),
    url(../fonts/IBMPlexMono-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Mono'),
    url(../fonts/IBMPlexMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Mono'),
    url(../fonts/IBMPlexMono-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Mono'),
    url(../fonts/IBMPlexSansArabic-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Mono'),
    url(../fonts/IBMPlexMono-Bold.woff2) format('woff2');
}

*,
title {
  font-family: 'IBM Sans';
}

/* TODO: remove this .heading class */
.heading,
.mono,
h1,
h2,
h3 {
  font-family: 'IBM Mono';
}

.italic {
  font-family: 'IBM Mono';
}
